@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pb-9\/16 {
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
  }
}

body{
  overflow-x: hidden;
}

.bghero {
  background-image: url("/herobg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 600px){
  .hero {
    background-image: url("/hero.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.hero {
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 600px){
  .hero{
    background-image: url("/bgsmall.jpeg");
    background-position:70% 80%;
    width: 100%;
  }
 
}

@media only screen and (max-width: 600px){
  .hero2{
    background-image: url("/case.avif");
    background-position:40% 80%;
    width: 100%;
  }
 
}

@media only screen and (max-width: 600px){
  .hero3 {
    background-image: url("/lappy.avif");
    background-position:50% 80%;
    width: 100%;
  }
 
}
.jh{
  color: white !important;
}
/* app/globals.css */
#google_translate_element {
  position: fixed;
  top: 200px;
  right: 10px;
  z-index: 1000;
  background: transparent;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body {
  top: 0 !important;
}


/* styles/globals.css */
@media (max-width: 1024px) {
  .hidden-lg {
    display: none;
  }
}

@media (min-width: 1024px) {
  .block-lg {
    display: block;
  }
}

iframe.skiptranslate { display: "none !important"; }

.hero3 {
  background-image: url("/buying.avif");
  background-size: cover;
  background-repeat: no-repeat;
}


.hero4 {
  background-image: url("/insights.avif");
  background-size: cover;
  background-repeat: no-repeat;
}
.bgold1 {
  background-image: url("/wealth.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
.bgold2 {
  background-image: url("/pureg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
.bgold3 {
  background-image: url("/btc.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.lineht {
  line-height: 5.5rem;
}

.perspective-1000 {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.slick-slide>div{
  margin: 0 30px;
}

.slick-slide>div:nth-child(1){
  margin-left: 0;
}

.slick-list{
  margin-right: -30px;
}

.video{
  background-image: url("/puzzle.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.bgf{
  background-image: url("/abt.png");
  background-size: cover;
  background-repeat: no-repeat;
}

